page-item-sliding img {
  height: 100px;
}

page-item-sliding .download-spinner {
  display: none;
}

page-item-sliding svg circle {
  stroke: white;
}

page-item-sliding .downloading .download-spinner {
  display: block;
}

page-item-sliding .downloading .download-hide {
  display: none;
}
