page-loading .custom-loading .loading-wrapper {
  background: rgb(155, 221, 226);
}

page-loading f {
  display: block;
  background: blue;

  width: 100%;
  height: 200px;
  margin: 20px auto;
}

page-loading .red {
  background-color: #ea445a;
}

page-loading .green {
  background-color: #76d672;
}

page-loading .blue {
  background-color: #3478f6;
}

page-loading .yellow {
  background-color: #ffff80;
}

page-loading .pink {
  background-color: #ff6b86;
}

page-loading .purple {
  background-color: #7e34f6;
}

page-loading .black {
  background-color: #000;
}

page-loading .orange {
  background-color: #f69234;
}
